@import '../../../assets/scss/settings';
@import '../../../assets/scss/listing';

:host{
    position: relative;
    .history-fab{
        display: none;
        @media(max-width: $ipad){
            position: fixed;
            bottom: 30px;
            right: 30px;
            z-index: 5;
            display: block
        }
    }

    table {
        width: 100%;
        // width: 1000px;
        // height: 100%;
        // min-width: 800px;
      }

      .payment-activity-wrapper{
          @media(max-width: $ipad){
              position: fixed;
              left:0;
              top:0;
              right:0;
              bottom:0;
              padding: 0px;
              padding-top:0px;
              min-width: 100%;
              max-width: 100%;
              margin: 0;
              z-index: 6;
          }

          mat-card-header{
            @media(max-width: $ipad){
                padding:10px;
                padding-top: 20px;
                height: 80px;
                background: $gray-nurse;
                border-bottom: 1px solid darken($gray-nurse, 10);
            }
            

            .close-button{
                display: none;
                @media(max-width: $ipad){
                    display: block;
                    position: absolute;
                    top:20px;
                    right:20px;
                }
                
            }

            mat-card-title{
                padding-top:10px;
            }

          }
      }
      .payment-table-wrapper{
        margin-top: 10px;
        border: 1px solid #e0e0e0;
        max-height: 420px ;
        @media(max-width: $ipad){
            width: 100%;
            max-height: calc(100vh - 137px) ;
            height: calc(100vh - 137px) ;
            // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            margin-top: 0px;
            border: none;
            border-top: none;
            border-bottom: none;


            
        }
      }

      .paging-wrapper{
        @media(max-width: $ipad){
            position: fixed;
            left:0;
            // top:0;
            right:0;
            bottom:0;
            
            .mat-paginator {
                background: $gray-nurse;
                border-top: 1px solid darken($gray-nurse, 10);
            }
        }
      }
    
    .activity-wrapper{

        .activity-table-paging-wrapper{
            display: flex;
            width:100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }

        .activity-item{
            // position: relative;
            cursor: pointer;
            height: 48px;
        }
        .activity-bank {
            font-size: 14px;
            font-weight: 500;
            color: $blue-cornflower;
        }
        .activity-time {
            font-size: 11px;
            font-weight: 400;
            color: #F50057;

        }
       /deep/ .cell-item-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            mat-icon {
                margin-right: 5px;
            }
            .bank{
                color: $blue-cornflower;
            }
        }
    }

    .account-list-wrapper{
        display: flex;
        flex-direction: column;
        align-items: left;
        width:100%;
        .account-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width:100%;
            height: 48px;
            .name{
                font-size: 14px;
                font-weight: 400;
                color: $text-color;
            }
            .balance{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .amount{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 14px;
                    font-weight: 400;
                    color: $text-color;
                    padding-right: 3px;
                    padding-left: 12px;
                }
                .currency{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 14px;
                    font-weight: 500;
                    color: $text-color;
                    padding-left: 2px;
                    width:50px;
                    letter-spacing: 1px;

                }
                

            }
        }
    }
}